APP_NAME=MyApp

FEATURE_ENABLED=true
FEATURE_DISABLED=false

OPTIONAL_VALUE=null
EMPTY_VALUE=empty

SSR_URL="http://localhost:3000"

QUOTED_SINGLE='Hello Single'
QUOTED_DOUBLE="Hello \"Double\""
QUOTED_WITH_COMMENT="Hello # not comment" # trailing comment

WITH_SPACES = spaced value
INLINE_COMMENT=works # comment
ESCAPED_HASH=foo\#bar
ESCAPED_EQUALS=foo\=bar
MULTILINE="line1\nline2\rline3"

export EXPORTED_VALUE=exported
